@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}

.rotating.lnr {
    display: inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 25px;
    /* Margin bottom by footer height */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
    /* Set the fixed height of the footer here */
    line-height: 25px;
    /* Vertically center the text there */
    background-color: #7d919a;
    color: white;
}

/* END STICKY FOOTER */

body {
    font-size: .9rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Content
   */

[role="main"] {
    /*padding-top: 25px;*/
    /* Space for fixed navbar */
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    color: #b1b1b1 !important;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
   * Utilities
   */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.navbar.navbar-dark {
    height: 25px !important;
}

.navbar .navbar-brand {
    font-size: 12px;
}

.drag {
    -webkit-app-region: drag
}

.no-drag {
    -webkit-app-region: no-drag
}

.btn-top-bar {
    background: none;
    border: none;
    color: #b1b1b1;
    height: 25px;
    font-family: Arial;
    line-height: 18px;
    width: 34px;
    font-size: 18px;
    outline: 0 !important;
}

.btn-top-bar.btn-close:hover {
    color: black;
    background: rgb(143, 38, 38);
}

.btn-minimize:hover,
.btn-mazimize:hover {
    /*background: rgba(0, 0, 0, 0.3);*/
    color: white;
}

.btn-minimize {
    font-size: 22px;
    line-height: 22px;
}

.btn-mazimize {
    font-size: 16px;
    line-height: 16px;
}

.bg-dark {
    background: #2c3e52 !important;
}

footer .container-fluid {
    height: 16px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 100;
}

.container-fluid {
    margin-top: 25px;
}
