/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 25px;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    /* Set the fixed height of the footer here */
    line-height: 25px;
    /* Vertically center the text there */
    background-color: #7d919a;
    color: white;
}

/* END STICKY FOOTER */
